{% extends "page/base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<div class="col" style="margin-left: 50px; justify-content: center; align-items: center; display: flex; flex-direction: column; margir
    <h3 class="center">
        <a href="/blog/{{post.id}}/" style="text-decoration: none; color: chocolate">
            {{post.title}}
    </a>
</h3>
<center><img src="{{post.image.url}}" width="200px" height="170px" style="object-fit: cover;" /></center>
<p style="text-align: justify">
    {{post.body|safe|linebreaks}}
</p>
<audio src="{{post.audio.url}}" controls></audio>
<a href="/blog/" style="justify-content: center; align-items: center; display: flex; text-decoration: none;">
     <button>Quay lại</button>
    </a>
</div>

{% endblock %}