<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>Register</title>
  </head>
  <style>
    form {
      margin-left: 10rem;
      width: 70%;
      border: 1px solid black;
      border-radius: 10px;
    }
    .form-input {
      margin-left: 2rem;
      margin-top: 1rem;
      width: 92%;
      text-align: left;
    }
    .form-input input {
      background-color: #e8f0fe;
    }
  </style>
  <body>
    <div class="wrapper style1">
      <div class="inner">
        <section class="container box feature1">
          <div class="row">
            <a href="/"><i style="font-size:30px" class="fas fa-home"></i></a>
          </div>
          <h1>ĐĂNG KÝ TÀI KHOẢN</h1>
          <form action="/register/" method="POST" class="box">
            {% csrf_token %}
            <div class="form-input">
              <label type="text">Username:</label>
              {{ form.username }}
            </div><br />           
            <div class="form-input">
              <label type="text">Email:</label>
              {{ form.email }}
            </div><br />
            <div class="form-input">
              <label type="password">Password:</label>
              {{ form.password1 }}
            </div><br />
            <div class="form-input">
              <label type="text">Confirm Password:</label>
              {{ form.password2 }}
            </div><br />
            <input type="submit" value="ĐĂNG KÝ" /><br /><br />
            <span>Already have account <a href="/login">Đăng Nhập</a></span>
          </form>
        </section>
      </div>
    </div>
  </body>
</html>
